#root {
  width: 100vw;
  height: 100vh;
}

.hero{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .container{
  display: flex;
  align-items: center;
}

.hero .container .content{
  display: flex;
  flex-direction: column;
}

.hero .container .content span{
  font-size: 24px;
  color: #000;
}

.hero .container .content .roles{
  font-weight: bold;
}

.logo{
  height: 200px;
  width: 200px;
}

.logo img{
  height: 100%;
  width: 100%;
}

button{
  margin: 30px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  user-select: none;
}

.footer{
  padding: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer span{
  font-size: 11px;
  color: #000;
}

.footer .version{
  font-weight: bold;
}

.showcase{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.appbar{
  position: fixed;
  padding: 10px 20px ;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.appbar .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appbar .sml{
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.links{
  display: flex;
  align-items: center;
}

.link{
  margin: 8px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.link img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

select{
  padding: 8px;
  border-radius: 5px;
  color: #000;
  font-size: 12px;
  border: none;
  cursor: pointer;
  background: #fff;
}

.mobile{
  display: none;
}

.tooltip{
  position: absolute;
  display: none;
  padding: 4px 8px;
  background: #000;
  font-size: 11px;
  color: #fff;
  user-select: none;
  width: fit-content;
}

.link:hover .tooltip{
  display: block;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main .spacers{
  height: 80px;
}

.main .content{
  padding: 40px 10px;
}

.endnote{
  height: auto;
  padding: 10px;
  width: 100%;
  display: flex;
  font-size: 11px;
  color: #000;
}

.icon{
  height: 24px;
  width: 24px;
}

.icon img{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.tools{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.tools h4{
  margin-bottom: 5px;
}

.items{
  display: flex;
  flex-direction: column;
}

.item{
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.item span{
  margin-left: 8px;
  font-size: 14px;
}

.highlight{
  margin: 20px 0;
  height: 400px;
  width: 100%;
}

.highlight img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pg{
  margin: 20px;
  display: flex;
}

.infor{
  margin: 0 15px;
}

.more{
  margin: 20px 0;
  display: flex;
  width: 100%;
}

.descript{
  max-width: 50vw;
  font-size: 17px;
}

.previews{
  display: flex;
  flex-direction: column;
}

.notice{
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 15px;

}

.gallery{
  display: flex;
  margin: 10px 0;
  width: calc(.9 * 100vw);
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
}

.box{
  height: 100%;
  min-width: 250px;
  margin-right: 8px;
}

.box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.status, .feedback{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.stage{
  margin: 10px 0;
}

.stage span{
  font-size: 16px;
  color: #00000055;
}

.stage .level{
  color: #038503;
  font-weight: bold;
}

.source span{
  font-size: 14px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #000;
}

.others{
  margin: 10px 0;
  display: flex;
}

.aob{
  margin-right: 10px;
}

.feedback h4{
  margin: 10px 0;
}

.blank{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  height: calc(100vh * .65);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottle{
  position: relative;
  height: 60px;
  width: 24px;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
}

.filled{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #051044;
  animation: fillUp 4s ease-in-out infinite;
}

@keyframes fillUp{
  0%{  
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  25%{
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
  }
  45%{
    clip-path: polygon(0 50%, 100% 55%, 100% 100%, 0 100%);
  }
  50%{
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }
  60%{
    clip-path: polygon(0 40%, 100% 50%, 100% 100%, 0 100%);
  }
  75%{
    clip-path: polygon(0 30%, 100% 40%, 100% 100%, 0 100%);
  }
  100%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media screen and (max-width: 600px){
  .hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero .container .content{
    margin: 20px 0;
    align-items: center;
  }

  button{
    margin: 10px;
  }

  .appbar .links{
    display: none;
  }

  .appbar .mobile{
    display: flex;
    justify-content: center;
  }

  .main .spacers{
    height: 115px;
  }

  .main .content .topbar span{
    font-size: 12px;
  }

  .highlight{
    /* margin: 20px 0; */
    height: 250px;
    width: 100%;
  }

  .more{
    display: flex;
    flex-direction: column;
  }

  .tools{
    margin-top: 40px;
    margin-left: 0;
  }

  .descript{
    max-width: 100vw;
  }
}
