#root {
  width: 100vw;
  height: 100vh;
}

.hero{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .container{
  display: flex;
  align-items: center;
}

.hero .container .content{
  display: flex;
  flex-direction: column;
}

.hero .container .content span{
  font-size: 24px;
  color: #000;
}

.hero .container .content .roles{
  font-weight: bold;
}

.logo{
  height: 200px;
  width: 200px;
}

.logo img{
  height: 100%;
  width: 100%;
}

button{
  margin: 30px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  user-select: none;
}

.footer{
  padding: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer span{
  font-size: 11px;
  color: #000;
}

.footer .version{
  font-weight: bold;
}

.showcase{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.appbar{
  position: fixed;
  padding: 10px 20px ;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.appbar .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appbar .sml{
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.links{
  display: flex;
  align-items: center;
}

.link{
  margin: 8px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.link img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

select{
  padding: 8px;
  border-radius: 5px;
  color: #000;
  font-size: 12px;
  border: none;
  cursor: pointer;
  background: #fff;
}

.mobile{
  display: none;
}

.tooltip{
  display: none;
  padding: 4px 8px;
  background: #000;
  font-size: 11px;
  color: #fff;
  user-select: none;
  width: fit-content;
}

.link:hover .tooltip{
  display: block;
}

.main{
  height: 800px;
}

.endnote{
  padding: 10px;
  width: 100%;
  display: flex;
  font-size: 11px;
  color: #000;
}

@media screen and (max-width: 600px){
  .hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero .container .content{
    margin: 20px 0;
    align-items: center;
  }

  button{
    margin: 10px;
  }

  .appbar .links{
    display: none;
  }

  .appbar .mobile{
    display: flex;
    justify-content: center;
  }
  
}
